<!DOCTYPE html>

<html lang="jp">
    <head>
        <meta charset="utf-8">
        <!-- meta内でリンクを飛ばす場合 http-equiv="refresh" content="2,url=ISDB_MedicalSupport_bord.html" を入れる -->
        <!-- 今回はJSで構成しているためコメントアウト -->
        <title>医療診察！メディサポ</title>
    </head>

    <body>
        <!-- 以下、CSSコード -->
        <style>
            * {
                box-sizing: border-box;
            }

            *:focus {
                outline: none;
            }

            body {
                font-family: Arial;
                padding: 20px;
            }
            
            .home {
                margin: 20px auto;
                width: 1200px;
            }
            
            .home-title {
                text-align: center;
                font-size: 15px;
                color: #777;
            }
        </style>

        <!-- 以下、HTMLコード -->
        <div class="home">
            <div class="home-screen">
                <div class="home-title">
                    <h1>送信しました。</h1><br>
                    <h1>ホーム画面に移動します。</h1><br>
                    <h1>掲示板でメッセージを確認してください。</h1>

                </div>
            </div>
        </div>

        <p id="countdown"></p>

        <!-- 以下、Javascriptコード -->
        <script>
            let countdown = 2;
            const timer = setInterval(function() {
              countdown--;
              /* カウントダウンを表示する */
              // document.getElementById("countdown").textContent = countdown;
        
              /* カウントダウンが0になればページ遷移 */
              if (countdown === 0) {
                clearInterval(timer);
                window.location.href = "/myhome";
              }
            }, 1000);
        </script>
    </body>
</html>